Daniel Bruder <daniel@codeedition.de>
Daniel Bruder <daniel@codeedition.de> <bruder@cip.ifi.lmu.de>
Daniel Bruder <daniel@codeedition.de> <bruder@cis.lmu.de>
Daniel Bruder <daniel@codeedition.de> <gitlab-cis@codeedition.de>
Florian Fink <finkf@cis.uni-muenchen.de>
Florian Fink <finkf@cis.uni-muenchen.de> <finkf@cip.ifi.lmu.de>
Florian Fink <finkf@cis.uni-muenchen.de> <bruder@cip.ifi.lmu.de>
Florian Fink <finkf@cis.uni-muenchen.de> <finkf@cis.lmu.de>
Florian Fink <finkf@cis.uni-muenchen.de> <flo@cis.lmu.de>
Matthias Lindinger <m.lindinger@live.de>
Matthias Lindinger <m.lindinger@live.de> <lindinger@cip.ifi.lmu.de>
Matthias Lindinger <m.lindinger@live.de> <matthias.lindinger@bsb-muenchen.de>
Max Hadersbeck <maximilian@cis.uni-muenchen.de>
Max Hadersbeck <maximilian@cis.uni-muenchen.de> <max@uschebti.cis.uni-muenchen.de>
Stefan Schweter <stefan@schweter.it>
Stefan Schweter <stefan@schweter.it> <schweter@cip.ifi.lmu.de>
Yuliya Kalasouskaya <kalasouskaya@cip.ifi.lmu.de>
Yuliya Kalasouskaya <kalasouskaya@cip.ifi.lmu.de> <kalasouskaya.cip.ifi.lmu.de>
